* {
    box-sizing: border-box;
}
.bgimg > img{
    /* background-image: url('D:\Selvamani\Projects\Fortpolio\img\profileimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%; */
    display: block;
    width: 40vw;
    height: 100vh;
    align-self: center;
    position: fixed;
}
.side-bar {
    display: block;
    height: 100%;
    width: 40%;
    position: fixed;
    overflow: auto;
    z-index: 1;
}
.line-3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.openbtn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    
}